@charset "utf-8";
html { height: 100%; }
body { 
    height: 100%;
    background-color: 002b36;
    background: url('../img/grey-gradient-background-dark.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.container { padding-top: 50px; }
.container { height: 80%; }
div.fold {
    background-color: #eee8d5;
    opacity: 1.0;
    font-family: monospace;
    font-size: 1em;
    text-align: left;
    overflow: hidden; 
    white-space: nowrap;
    margin-bottom: 20px;
    padding: 0px;
    height: 25px;
    font-weight: bolder;
}
ul.posts{ margin: 0px; }
ul.posts li{ line-height: 20px; }
div.copy { text-align: right; }
.main { border-top: 10px solid #323232; }
.main { border-left: 10px solid #323232; }
.main { height: 100%; } 
.main { position: relative; }
.main { background-color: #fdf6e3; }
.main div.view {
    background: #fdf6e3;
    border-style: solid; 
    margin: 0px 0px 0px 140px;
    height: inherit;
    overflow-y: scroll;
    border-style: solid;
    border-width: 0px 0px 0px 10px;
    -moz-border-image: url(../img/emacs/border-solarized-light.png) 0 0 0 10 repeat;
    -webkit-border-image: url(../img/emacs/border-solarized-light.png) 0 0 0 10 repeat;
    -o-border-image: url(../img/emacs/border-solarized-light.png) 0 0 0 10 repeat;
    border-image: url(../img/emacs/border-solarized-light.png) 0 0 0 10 repeat;
}
.main div.content { padding: 10px 0 0 0; }
.main div.content div.post { padding: 0px 10px 10px 10px; }
.main div.side { 
    background-color: #1b1d1e;
    position: relative;
    float: left;
    height: inherit;
    width: 140px;
    overflow: hidden;
 }
div.pagination {
    width: 100%;
    text-align: right;
    padding: 10px;
    margin: -10px 0;
}
div.footer {
    width: 100%;
    text-align: center;
    font-size: 1em;
    font-weight: bold;
}

span span.mi, span.mn, span.mo, span.mtext {
    color: #272727;
    font-weight: normal;
}


