div.navtree-utf * {
    font-family: monospace;
}

div.navtree-utf {
    font-family: monospace;
    font-size: 12px;
    letter-spacing: 0px;
    line-height: 15px;
    color: #f0f0f0;
}

div.navtree-utf span {
    color: #f2f2f2;
    font-weight: bold;
}

div.navtree-utf a:link, a:visited {
    text-decoration:none;
    color: #f0f0f0;

}

div.navtree-utf a:hover, a:active {
    text-decoration:none;
    font-weight: bold;
    background: #f0f0f0;
}
