div.navtree-ascii { background-color: #fdf6e3; }
div.navtree-ascii { height: inherit; }
div.navtree-ascii { width: 140px; }
div.navtree-ascii { position: relative; }
div.navtree-ascii { overflow: hidden; }

div.navtree-ascii * { font-family: monospace, monaco; }
div.navtree-ascii * { letter-spacing: 0px; }
div.navtree-ascii * { font-size: 14px; }
div.navtree-ascii * { font-weight: 900; }

div.navtree-ascii a { text-decoration: none; }
div.navtree-ascii a { color: #2aa198; }

span.nav { color: #93a1a1; }
span.fill { color: #93a1a1; }
span.nav { overflow: hidden; }
span.nav { position: relative; }
