/*
green: #abb285
yellow: #e1fb60
white: #f0ffd7
purple: #9d78b2
pink: #f0d7ff
*/

html, body {
  background-color: #e1e1e1;
  background: url(../img/bg-gradient.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  
  font-family: playfair_displayregular;
}

.uk-panel {
  font-weight: ;
  color: #fff;
  background-color: #abb285;
  margin: 0px;
}

.box {
  padding-left: 0;
  border-right: 2px solid;
  border-bottom: 2px solid;
  border-color: #c0c0c0;
  background-color: rgba(240,255,215,1);
}

.box:hover {
  background-color: rgba(225,251,96,1);  
}

.calendar {
  margin: 15px;
  padding: 20px;
  border: none;
  background-color: #fff;
  -webkit-box-shadow: 2px 3px 2px 0px rgba(161,161,161,0.75);
  -moz-box-shadow: 2px 3px 2px 0px rgba(161,161,161,0.75);
  box-shadow: 2px 3px 2px 0px rgba(161,161,161,0.75);
}

.today {
  color: #e1fb60;
  color: white;
  font-weight: bold;
  background-color: #9d78b2;
}

.date {
  font-weight: bold;
  font-size: 1.2em;
  font-family: ralewayregular;
  color: #111;
  border: 1px solid #a0a0a0;
  background-color: #fff;
  padding-left: 2px;
  padding-right: 2px;
  -webkit-box-shadow: 2px 3px 2px 0px rgba(161,161,161,0.75);
  -moz-box-shadow: 2px 3px 2px 0px rgba(161,161,161,0.75);
  box-shadow: 2px 3px 2px 0px rgba(161,161,161,0.75);
}

.day {
  font-family: playfair_displayregular;
  font-size: 1em;
  text-shadow: 1px 1px 2px rgba(0,0,0,.6);
}



.uk-dropdown {
  border-left: 1px solid #c0c0c0;
  -webkit-box-shadow: 2px 3px 2px 0px rgba(161,161,161,0.75);
  -moz-box-shadow: 2px 3px 2px 0px rgba(161,161,161,0.75);
  box-shadow: 2px 3px 2px 0px rgba(161,161,161,0.75);
}

ul#filter li {
  font-size: 1.5em;
  border-bottom: 1px solid #c0c0c0;
}

ul#filter li:last-child {
  border: none;
}

.uk-button {
  font-family: ralewayregular;
  font-size: 1.2em;
}
li.uk-active a {
  color: #e1fb60;
  color: #d33682;
}