* { font-family: "Andale Mono", AndaleMono, monospace; }
h1.title {
    color: #e7e7e7;
    font-size: 24px;
    font-family: monospace;
    text-shadow: 5px 5px 5px #303030;
}
.heading {
    font-family: Monaco, monospace;
    font-size: 26px;
    font-weight: normal;
    color: #b00000;
}
ul.posts span {
    font-size: 14px;
    color: #93a1a1;
}
ul.posts span span {
    font-size: 10px;
    color: #2aa198;
}
ul.posts span span span {
    font-size: 14px;
    color: #859900;
}
ul.posts span span span span {
    font-size: 14px;
    color: #93a1a1;
}
ul.posts li a:active { text-decoration: none; }
ul.posts li a:visited { text-decoration: none; }
ul.posts li a:hover span span span span { /* ----- */
    color: #b58900; 
    text-decoration: none;
}
ul.posts li a:hover span span span  { /* {{ post.title }} */
    color: #cb4b16;
    text-decoration: none;
}
ul.posts li a:hover span span  { /* {{ word_count }} */
    color: #2aa198;
    text-decoration: none;
}
ul.posts li a:hover span { /* +-- */
    color: #b58900;
    text-decoration: none;
}
ul posts li a:active span span span span { text-decoration: none; }
ul posts li a:active span span span { text-decoration: none; }
ul posts li a:active span span { text-decoration: none; }
ul posts li a:active span { text-decoration: none; }
ul posts li a:visited span span span span { text-decoration: none; }
ul posts li a:visited span span span { text-decoration: none; }
ul posts li a:visited span span { text-decoration: none; }
ul posts li a:visited span { text-decoration: none; }

ul.posts li a { color: #859900; }
ul.posts li a:hover { text-decoration: none; }
ul.posts li small { color: #657b83; }
figure.code {
    margin: 20px 0 20px 0;
    overflow-x: auto;
    border-top: 0px solid #babab6;
    border-bottom: 0px solid #babab6;
}
.highlight pre {
    white-space: pre;
    overflow: auto;
}
pre code {
    white-space: pre;
    overflow: auto;
}
pre {
    border: 0px;
    background-color: #1b1d1e;
    display: block;
    font-size: 13px;
    line-height: 15px;
    padding: 9.5px;
    margin: 0px;
    white-space: pre;
    overflow-x: auto;
}
.linenos pre {
    color: #b2b7bd;
    font-weight: bold;
}
.bash { color: #f4f4ee; }

