.argokai .hll { background-color: #ffffcc }
.argokai  { background: #1B1D1E; color: #f4f4ee; background-color: #1B1D1E }
.argokai .c { color: #465457; font-style: italic; background-color: #1B1D1E } /* Comment */
.argokai .err { color: #f4f4ee; background-color: #1B1D1E } /* Error */
.argokai .g { color: #f4f4ee; background-color: #1B1D1E } /* Generic */
.argokai .k { color: #f64a8a; background-color: #1B1D1E } /* Keyword */
.argokai .l { color: #f4f4ee; background-color: #1B1D1E } /* Literal */
.argokai .n { color: #f4f4ee; background-color: #1B1D1E } /* Name */
.argokai .o { color: #f4f4ee; background-color: #1B1D1E } /* Operator */
.argokai .x { color: #f4f4ee; background-color: #1B1D1E } /* Other */
.argokai .p { color: #f4f4ee; background-color: #1B1D1E } /* Punctuation */
.argokai .cm { color: #465457; font-style: italic; background-color: #1B1D1E } /* Comment.Multiline */
.argokai .cp { color: #A6E22E; background-color: #1B1D1E } /* Comment.Preproc */
.argokai .c1 { color: #465457; font-style: italic; background-color: #1B1D1E } /* Comment.Single */
.argokai .cs { color: #465457; font-style: italic; background-color: #1B1D1E } /* Comment.Special */
.argokai .gd { color: #ff0101; background-color: #9a0000 } /* Generic.Deleted */
.argokai .ge { color: #f4f4ee; text-decoration: underline; background-color: #1B1D1E } /* Generic.Emph */
.argokai .gr { color: #870000; background-color: #ffa40b } /* Generic.Error */
.argokai .gh { color: #b2b2b2; background-color: #1B1D1E } /* Generic.Heading */
.argokai .gi { color: #ffffff; background-color: #006600 } /* Generic.Inserted */
.argokai .go { color: #3a4547; background-color: #1B1D1E } /* Generic.Output */
.argokai .gp { color: #f4f4ee; background-color: #1B1D1E } /* Generic.Prompt */
.argokai .gs { color: #f4f4ee; background-color: #1B1D1E } /* Generic.Strong */
.argokai .gu { color: #b2b2b2; background-color: #1B1D1E } /* Generic.Subheading */
.argokai .gt { color: #870000; background-color: #ffa40b } /* Generic.Traceback */
.argokai .kc { color: #f64a8a; background-color: #1B1D1E } /* Keyword.Constant */
.argokai .kd { color: #f64a8a; background-color: #1B1D1E } /* Keyword.Declaration */
.argokai .kn { color: #f64a8a; background-color: #1B1D1E } /* Keyword.Namespace */
.argokai .kp { color: #f64a8a; background-color: #1B1D1E } /* Keyword.Pseudo */
.argokai .kr { color: #f64a8a; background-color: #1B1D1E } /* Keyword.Reserved */
.argokai .kt { color: #6497c5; background-color: #1B1D1E } /* Keyword.Type */
.argokai .ld { color: #f4f4ee; background-color: #1B1D1E } /* Literal.Date */
.argokai .m { color: #f4f4ee; background-color: #1B1D1E } /* Literal.Number */
.argokai .s { color: #6497c5; background-color: #1B1D1E } /* Literal.String */
.argokai .na { color: #A6E22E; background-color: #1B1D1E } /* Name.Attribute */
.argokai .nb { color: #f4f4ee; background-color: #1B1D1E } /* Name.Builtin */
.argokai .nc { color: #f4f4ee; background-color: #1B1D1E } /* Name.Class */
.argokai .no { color: #a4ed2d; background-color: #1B1D1E } /* Name.Constant */
.argokai .nd { color: #f4f4ee; background-color: #1B1D1E } /* Name.Decorator */
.argokai .ni { color: #ff8da1; background-color: #1B1D1E } /* Name.Entity */
.argokai .ne { color: #e4d00a; background-color: #1B1D1E } /* Name.Exception */
.argokai .nf { color: #A6E22E; background-color: #1B1D1E } /* Name.Function */
.argokai .nl { color: #f4f4ee; background-color: #1B1D1E } /* Name.Label */
.argokai .nn { color: #f4f4ee; background-color: #1B1D1E } /* Name.Namespace */
.argokai .nx { color: #f4f4ee; background-color: #1B1D1E } /* Name.Other */
.argokai .py { color: #f4f4ee; background-color: #1B1D1E } /* Name.Property */
.argokai .nt { color: #f64a8a; background-color: #1B1D1E } /* Name.Tag */
.argokai .nv { color: #6497c5; background-color: #1B1D1E } /* Name.Variable */
.argokai .ow { color: #ff8036; background-color: #1B1D1E } /* Operator.Word */
.argokai .w { color: #f4f4ee; background-color: #1B1D1E } /* Text.Whitespace */
.argokai .mf { color: #F8F8F2; background-color: #1B1D1E } /* Literal.Number.Float */
.argokai .mh { color: #f4f4ee; background-color: #1B1D1E } /* Literal.Number.Hex */
.argokai .mi { color: #f4f4ee; background-color: #1B1D1E } /* Literal.Number.Integer */
.argokai .mo { color: #f4f4ee; background-color: #1B1D1E } /* Literal.Number.Oct */
.argokai .sb { color: #6497c5; background-color: #1B1D1E } /* Literal.String.Backtick */
.argokai .sc { color: #6497c5; background-color: #1B1D1E } /* Literal.String.Char */
.argokai .sd { color: #6497c5; background-color: #1B1D1E } /* Literal.String.Doc */
.argokai .s2 { color: #6497c5; background-color: #1B1D1E } /* Literal.String.Double */
.argokai .se { color: #6497c5; background-color: #1B1D1E } /* Literal.String.Escape */
.argokai .sh { color: #6497c5; background-color: #1B1D1E } /* Literal.String.Heredoc */
.argokai .si { color: #6497c5; background-color: #1B1D1E } /* Literal.String.Interpol */
.argokai .sx { color: #6497c5; background-color: #1B1D1E } /* Literal.String.Other */
.argokai .sr { color: #6497c5; background-color: #1B1D1E } /* Literal.String.Regex */
.argokai .s1 { color: #6497c5; background-color: #1B1D1E } /* Literal.String.Single */
.argokai .ss { color: #6497c5; background-color: #1B1D1E } /* Literal.String.Symbol */
.argokai .bp { color: #f4f4ee; background-color: #1B1D1E } /* Name.Builtin.Pseudo */
.argokai .vc { color: #6497c5; background-color: #1B1D1E } /* Name.Variable.Class */
.argokai .vg { color: #6497c5; background-color: #1B1D1E } /* Name.Variable.Global */
.argokai .vi { color: #6497c5; background-color: #1B1D1E } /* Name.Variable.Instance */
.argokai .il { color: #f4f4ee; background-color: #1B1D1E } /* Literal.Number.Integer.Long */
